<div>
  <input class="form-control" placeholder="check..." type="text" [(ngModel)]="term">
  <div class="card" *ngFor="let p of this.product.products._embedded.products
  |filter:term">
    <div class="card-header"> {{p.name}}</div>
    <div class="card-body">
      <div>
        <img [src]="this.catalogueService.host+'/photoProduct/'+p.id+'?ts='+getTS()"
             style="height: 100px" (click)="onProductDetail(p)" class="clickable">
        <div *ngIf="product.currentProduct==p && photoToEdit==true">
          <input type="file" (change)="onChargePhotoSelectedToUpload($event)">
          <button *ngIf="buttonUploadVisible()" class="btn btn-sm btn-success fa fa-upload"
                  (click)="onUploadPhotoSelected()"></button>
        </div>
      </div>
      <div>${{p.currentPrice}}
        <button class="btn btn-xs btn-warning fa fa-edit" (click)="onEditPhoto(p)"></button>
      </div>
      <div>
        <span *ngIf="p.promotion">
          <img src="assets/images/promo.png" class="img-thumbnail rounded-circle " style="height :30px">
        </span>
        <span *ngIf="p.selected">
          <img src="assets/images/favorite.png" class="img-thumbnail rounded-circle " style="height :30px">
        </span>
        <span *ngIf="p.available">
          <img src="assets/images/available.png" class="img-thumbnail rounded-circle " style="height :30px">
        </span>
        <span *ngIf="!p.available">
          <img src="assets/images/notAvailable.png" class="img-thumbnail rounded-circle " style="height :30px">
        </span>
      </div>
      <div>
        <form *ngIf="p.available" #f="ngForm" (ngSubmit)="onAddProductsToCaddy(p)">
          <div class="form-group">
            <label> Qauntité : </label>
            <input type="number" name="quantity" [(ngModel)]="p.quantity"
                   style="width:30px; height: 20px" min="1" max="20">
            <button class="border border-success rounded">
              <img src="assets/images/caddy.png" class="img-thumbnail" style="height :20px">
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


