<div *ngIf="currentProduct">
  <div class="card" *ngIf="mode==0">
    <div class="card-header clearfix"> {{currentProduct.name}}
      <span class="btn btn-sm btn-danger fa fa-edit float-right" (click)="onEditProduct()"></span>
    </div>
    <div class="card-body ">
      <div class="row ">
        <div class="col-md-5 ">
          <div>
            <img [src]="this.catalogueService.host+'/photoProduct/'+currentProduct.id+'?ts='+getTS()"
                 height="300" class="img-fluid rounded">
            <button class="btn btn-sm btn-warning fa fa-edit" (click)="onEditPhoto(currentProduct)"></button>
            <div *ngIf="currentProduct==currentProduct && photoToEdit==true">
              <input type="file" (change)="onChargePhotoSelectedToUpload($event)">
              <button *ngIf="buttonUploadVisible()" class="btn btn-sm btn-success fa fa-upload"
                      (click)="onUploadPhotoSelected()"></button>
            </div>
          </div>
          <div>Prix : {{currentProduct.currentPrice}}</div>
          <div>
        <span *ngIf="currentProduct.promotion">
          <img src="assets/images/promo.png" class="img-thumbnail rounded-circle " style="height :30px">
        </span>
            <span *ngIf="currentProduct.selected">
          <img src="assets/images/favorite.png" class="img-thumbnail rounded-circle " style="height :30px">
        </span>
            <span *ngIf="currentProduct.available">
          <img src="assets/images/available.png" class="img-thumbnail rounded-circle " style="height :30px">
        </span>
            <span *ngIf="!currentProduct.available">
          <img src="assets/images/notAvailable.png" class="img-thumbnail rounded-circle " style="height :30px">
        </span>
          </div>
          <div>
            <form *ngIf="currentProduct.available" #f="ngForm" (ngSubmit)="onAddProductsToCaddy(currentProduct)">
              <div class="form-group">
                <label> Qauntité : </label>
                <input type="number" name="quantity" [(ngModel)]="currentProduct.quantity"
                       style="width:30px; height: 20px" min="1" max="20">
                <button class="border border-success rounded">
                  <img src="assets/images/caddy.png" class="img-thumbnail" style="height :20px">
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-6 border border-2 ">
          <div> Description : {{currentProduct.description}}</div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="mode==1">
    <div class="card-body rounded border border-info">
      <form #f="ngForm" (ngSubmit)="onUpdateProduct(f.value)">

        <div class="form-group row">
          <label for="name" class="col-sm-2 col-form-label">Nom</label>
          <div class="col-sm-10">
            <input class="form-control" type="text" name="name" id="name" ngModel [(ngModel)]="currentProduct.name">
          </div>
        </div>


        <div class="form-group row">
          <label for="description" class="col-sm-2 col-form-label">Description</label>
          <div class="col-sm-10">
            <textarea class="form-control" type="text" name="description" id="description" ngModel [(ngModel)]="currentProduct.description"></textarea>
          </div>
        </div>

        <div class="form-group row">
          <label for="currentPrice" class="col-sm-2 col-form-label">Prix</label>
          <div class="col-sm-10">
            <input class="form-control" type="number" name="currentPrice" id="currentPrice" ngModel [(ngModel)]="currentProduct.currentPrice">
          </div>
        </div>


        <div class="form-group row">
          <div class="col-sm-2">Choice</div>
          <div class="col-sm-10">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="Promotion" id="Promotion" ngModel [(ngModel)]="currentProduct.promotion">
              <label class="form-check-label" for="Promotion">
                Promotion
              </label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="available" id="available" ngModel [(ngModel)]="currentProduct.available">
              <label class="form-check-label" for="available">
                Available
              </label>
            </div>

            <div class="form-check">
              <input class="form-check-input" type="checkbox" name="selected" id="selected" ngModel [(ngModel)]="currentProduct.selected">
              <label class="form-check-label" for="selected">
                Selected
              </label>
            </div>
          </div>
        </div>

        <div class="form-group row">
          <div class="col-sm-10">
            <button type="submit" class="btn btn-success">Update</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <p></p>
</div>

